[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "==1.26.4"
datasets = "*"
librosa = "*"
matplotlib = "*"
ipywidgets = "*"
gradio = "*"
ffmpeg-python = "*"
tqdm = "*"
python-dotenv = "*"
huggingface-hub = {extras = ["cli"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
